.btn.btn-xl {
    font-size: 16px;
    font-size: 3rem;
    padding: 12.8px 32px;
    padding: 0.8rem 2rem;
}
.caption {	
	padding: 1.8em;
    position: absolute;
	margin-top: 0px;
    margin-left: 19%;
    width: 60%;
	height:150px;
	background: rgba(218,218,218,0.85);
}
@media screen and (min-width: 1000px) {
.caption-text {
	display: block;
	color: #000;
	font-weight: 400;
	font-size: 1.8em;
	line-height: 1.6em;
}
}
@media screen and (max-width: 999px) {
.caption-text {
	font-size: 1.4em;
	line-height: 1.6em;
}
}
.caption-text-important {
	color: #000;
	font-weight: 700;
	font-size: 1.3em;
}
.demande {
	color: #D71002;
	text-align:left;
	font-weight: 700;
	font-size: 2em;
}
.big {font-size: 2em;}
.bold{font-weight: 900;}
.rouge{color:#C9170A}
.action-bar {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
	width:100%;
}
.owl-carousel .owl-item img {
    display: block;
    width: 70%;
	max-width: 150px;
	min-width: 100px;
    -webkit-transform-style: preserve-3d;
}
.button{
    font-style: normal;
    color: #fff;
    background-color:#0099e6;
    border-radius: 2px;
    border:1px solid #0099e6;
    box-shadow: 0px 0px 20px 3px rgba(46,161,219,0.3);
    padding: 7px 15px;
    transition: .3s;
    border-radius: 4px;
    position: relative;
    text-align: center;
}
.button.transp{
	background-color: transparent;
}
.button:hover{
	color: #fff;
    background-color: #0099e6;
    box-shadow: none;
    text-decoration: none;
    border:1px solid #0099e6;
}
.button:visited{
	color: #fff;
    text-decoration: none;
}
.gras {
	font-weight:600;
}
.blue {
	color:#0099e6;
}
.titre_image {
	font-size: 2em;
	line-height: 140%;	
}
.page-header {
	margin-bottom: 0;
}
.section_question {
    background: #F4F4F4;
    border-left: 3px solid #D4180C;
    border-right: 3px solid #D4180C;	
    border-radius: 5px;
    display: block;
	margin: 0 0 20px 0;
    font-weight: 400;	
}
.section_question h2 {
	color: #0772B7;
	font-size: 1.9em;
	padding: 5px 5px 10px 10px;
}
.section_reponse {
	margin-left: 4%;
	list-style: none;
	border-left: 7px solid #0772B7;
	padding-left: 15px;
}
