/* porto card */
.bg-color-grey {
    background-color: #F7F7F7 !important;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.text-4 {
    font-size: 1.2em !important;
}
.text-8 {
    font-size: 2.30em !important;
}
.card-title {
    font-size: 1.4em;
    letter-spacing: normal;
    line-height: 27px;
    margin: 0 0 14px 0;
}
.card-text:last-child {
    margin-bottom: 0;
}